.navbar{
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.links a {
    color:antiquewhite;
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;

}